body {
	background: linear-gradient(#17084e, #03000f);
	color: #000000;
	font-family: 'font1';
	font-size: 14px;
	margin: 0;
	padding: 0;
}
@font-face {
	font-family: 'font1';
	src: url('../fonts/nasalization-rg.otf');
}
p {
	line-height: 30px;
	margin: 0;
}
#header {
	margin: 0 auto;
	max-width: 960px;
}
#header h1 {
	font-size: 50px;
	font-weight: normal;
	line-height: 50px;
	margin: 0;
	padding: 30px 0;
	text-align: center;
}
#header h1 a {
	color: #00ff00;
	text-decoration: none;
}
#header h1 a span {
	color: #ffffff;
	display: block;
	font-family: 'font1';
	font-size: 26px;
	text-transform: uppercase;
	background-color: #064900;
	width: 30%;
	margin-left: 33%;
	border-radius: 100px;
}
#header ul#navigation {
	list-style: none;
	margin: 0;
	padding: 0;
	text-align: center;
}
#header ul#navigation li {
	display: inline;
	line-height: 30px;
	position: relative;
}
#header ul#navigation li a {
	color: #ffffff;
	font-size: 18px;
	padding: 0 25px;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
}
#header ul#navigation li a:hover,
#header ul#navigation li.current ul li a:hover {
	color: #ffffff;
	background-color: #29a81d;
	border-radius: 10px;
	transition: background-color 0.35s, border-radius 0.35s;
}
#header ul#navigation li.current a {
	color: #00ff00;
}
#header ul#navigation li ul {
	display: none;
	left: 0;
	list-style: none outside none;
	margin: 0;
	padding: 11px 0 0;
	position: absolute;
	top: 12px;
}
#header ul#navigation li:hover ul {
	display: block;
}
#header ul#navigation li ul li {
	background: #00ff00;
	display: block;
	height: 46px;
	line-height: 46px;
}
#header ul#navigation li ul li a {
	padding: 0 20px;
}
#header ul#navigation li.current ul li a {
	color: #b6d8cf;
}
#body {
	background: #ffffff;
	margin: 3px auto 0;
	max-width: 880px;
	min-height: 0;
	overflow: hidden;
	padding: 45px 40px 46px;
	border-radius: 20px;
}
#body > h2 {
	color: #17084e;
	font-family: 'font1';
	font-size: 35px;
	font-weight: normal;
	line-height: 30px;
	margin: 0;
	padding: 0 0 44px;
}
#footer {
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: auto;
	margin-right: auto;
	overflow: hidden;
	padding: 30px 0 60px;
	border-radius: 20px;
	background-color: #110830;
	max-width: 880px;
	padding: 3.2%;
}
#footer div {
	float: left;
	width: 500px;

}
#footer div span {
	color: #00ff00;
	display: block;
	font-size: 26px;
	line-height: 24px;

}
#footer div p {
	color: #b6d8cf;
	font-size: 12px;
	line-height: 30px;
}
.italic{
	font-style: italic;
}
.bold{
	font-weight: bold;
	text-decoration : underline;
}
.underline{
	text-decoration: underline;
}
.images{
	width: 100%;
}
.black{
	color: #000000;
	text-decoration: none;
	font-size: 150%;
	font-weight: bold;
	background-color: aquamarine;
	padding: 7px;
	border-radius: 15px;
	transition: background-color 0.35s, border-radius 0.35s;
}
.black:hover{
	color: #000000;
	text-decoration: none;
	font-size: 150%;
	font-weight: bold;
	background-color: #00ff00;
	padding: 7px;
	border-radius: 7px;
}
.cloud{
	width: 50%;
	transition: width 0.35s;
}
.cloud:hover{
	width:60%
}
.darknet{
	width: 50%;
	float: right;
	transition: width 0.35s;
}
.darknet:hover{
	width: 60%;
	float: right;
}
.conclusion{
	width: 99%;
}
a:hover{
	color:#00ff00;
}
.armes{
	width: 60%;
	transition: width 0.35s;
}
.armes:hover{
	width: 100%;
}